/* ajout d'un reset pour éviter un dégalage*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin de reset */

@font-face {
    font-family: 'Raleway';
    src:url(fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

#body_page{
    font-family: 'Raleway', Arial;
    margin: 40px 30px 40px 30px;
}

header{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: black;
}

#nav_header a{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#inscription{
    font-weight: bold;
    color: #0065FC;
    margin-left: 15px;
    padding-left: 20px;
}

#nav_header a:hover{
    border-top: #0065FC solid;
    padding-top: 36px;
    color: #0065FC;
}

#logo{
    margin-top: -20px;
    margin-right: auto;
}

h1, h2{
    font-size: 1.35em;
    font-weight: bolder;
}

#title{
    margin-top: 30px;
}

#title p{
    margin-top: 10px;
}

i.fas{
    color: #0065FC;
    line-height: 1;
}

#search{
    margin-top: 20px;
}

#icon_map{
    color: black;
    background-color: #F2F2F2;
    width: 25px;
    height: 50px;
    border: 0.1em solid #DEEBFF;
    border-radius: 15px 0 0 15px;
    float: left;
    padding-left: 15px;
    line-height: 3;
}

#textarea{
    height: 3em;
    font-size: 1em;
    font-weight: bolder;
    border: 0.1em solid #DEEBFF;
}

#button{
    background-color: #0065FC;
    height: 4.1em;
    width: 8.5em;
    border: 0.1em solid transparent ;
    border-right: 1px solid transparent;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: -5px;
}

#button:hover{
    box-shadow: 10px 10px 15px #DEEBFF;
}

#button-text{
    font-size: 1.25em;
    color: #F2F2F2;
    font-weight: bold;
}

#button_icon{
    display: none;
}

.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}

.filter a{
    padding-right: 15px;
    border: 0.15em solid #DEEBFF;
    border-radius: 50px;
    border-left: none;
    height: 45px;
    margin-top: 10px;
}

.filter_text{
    font-weight: bolder;
    margin-left: 10px;
}

.filter h2{
    margin-right: 30px;
}

.filter a{
    margin-right: 30px;
}

#title2{
    margin-top: 30px;
    font-size: 0.8em;
}

.filter i{
    padding-left: 15px;
    border-radius: 50%;
    line-height: 3;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 33px;
}

.filter a:hover{
    box-shadow: 10px 10px 15px #DEEBFF;
}

#number_info{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0.9em;
}

#number_info i{
    font-size: 1.5em;
    background-color: #0065FC;
    color: white;
    border-radius: 50%;
}

.section{
    display: flex;
}

.section h2, .section h3{
    font-weight: bolder;
}

article{
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    padding-bottom: 15px;
    padding-top: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 50%;
}

article h2{
    margin-left: 30px;
}

#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hebergement{
    flex-direction: row;
    background-color: white;
    margin: 30px 30px 30px 30px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px grey;
}

.hebergement:hover{
    box-shadow: 10px 10px 15px gray;
}

.hebergement img{
    width: 250px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

article h3{
    margin-top: 5px;
    margin-left: 5px;
}

article p{
    margin-top: 5px;
    margin-left: 5px;
}

.bolder{
    font-weight: bolder;
}

article i{
    margin-top: 10px;
    margin-left: 5px;
}

.empty i{
    color: #DEEBFF;
}

#plus{
    margin-left: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
}

#plus:hover{
    text-decoration: underline;
}

#flex{
    flex: 1;
}

aside{
    margin-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 25%;
}

aside h2{
    margin-left: 20px;
}

#title3{
    margin: 30px 30px 15px 30px;
}

#title3 i{
    float: right;
    font-size: 1.5em;
    color: black;
}

.populaire{
    width: auto;
    height: 150px;
    background-color: white;
    margin: 30px 30px 30px 30px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px grey;
}

.populaire a{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.populaire img{
    width: 160px;
    height: 150px;
    margin-left: -15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
}

.populaire h3{
    margin-top: 15px;
    margin-left: 5px;
}

.populaire p{
    margin-top: 15px;
    margin-left: 5px;
}

.margin{
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: 10px;
}

.populaire:hover{
    box-shadow: 10px 10px 15px gray;
}

#title_section2{
    position: absolute;
    left: 100px;
}

#width_white{
    width: 100%;
    background-color: white;
}

#flex2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activite{
    width: auto;
    background-color: white;
    margin: 30px 30px 30px 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px #DEEBFF;
}
.activite:hover{
    box-shadow: 10px 10px 15px #DEEBFF;
}

.big img{
    height: 410px;
    width: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.flex3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small img{
    height: 155px;
    width: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#pomegues img{
    height: 205px;
}

#frioul img{
    height: 100px;
}

.activite h3{
    margin-left: 20px;
    font-weight: bolder;
    padding-top: 10px;
}

footer{
    background-color: #F2F2F2;
    margin: 30px -30px -40px -30px;
    padding-bottom: 30px;
}

#flex4{
    display: flex;
    margin-left: 50px;
}

.width{
    width: 30%;
}

footer h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

footer li{
    margin-bottom: 15px;
}

footer a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){

    #body_page{
        width: auto;
    }

    header{
        flex-wrap: wrap;
    }

    #nav_header{
        order: 1;
        flex: 100%;
        display: flex;
    }

    #nav_header a{    
        flex: 50%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 15px;
    }

    #nav_header a:hover {
        border-top: none;
        border-bottom: 3px solid;
        padding-bottom: 15px;
        padding-top: 0px;
    }

    #button_icon{
        display: initial;
        background-color: #0065FC;
        height: 4.1em;
        width: 4.5em;
        border: 0.1em solid transparent ;
        border-radius: 1.5em;
        margin-left: -20px;
    }

    #button_icon i{
        color: #F2F2F2;
    }

    #button{
        display: none;
    }

    .section{
        flex-direction: column;
    }

    aside{
        order: -1;
        border-radius: 0px;
        margin-left: -30px;
        margin-right: -30px;
    }

    article{
        padding-bottom: 15px;
        padding-top: 40px;
        background-color: white;
        border-radius: 0px;
    }

    .activite{
        margin-right: 0px;
        margin-left: 0px;
    }

    .activite img{
        height: 155px;
        width: 310px;
    }

    #pomegues img{
        height: 155px;
        width: 310px;
    }

    #frioul img{
        height: 155px;
        width: 310px;
    }
    
}